extends /layouts/application.pug

block content
  h1.h1.mt-4.text-center=t('layouts.application.tasks')
  .mb-2
    a(href= urlFor('newTask')) + #{t('views.tasks.addTask')}

  .jumbotron.p-2.bg-dark.text-white-50
    form.form-inline(action=urlFor('tasks'), method='get')
      .form-group.mr-4
        label.mr-2(for='status')=t('views.tasks.status')
        select(
          id='status'
          class='custom-select'
          name='taskStatusId'
        )
          option
          each taskStatus in taskStatuses
            option(
              value=taskStatus.id
              class=filterState.taskStatusId
              selected=filterState.taskStatusId === taskStatus.id.toString()
            )=taskStatus.name

      .form-group.mr-4
        label.mr-2(for='assignee')=t('views.tasks.assignedTo')
        select(
          id='assignee'
          class='custom-select'
          name='assignedToId'
        )
          option
          each assignee in assignees
            option(
              value=assignee.id
              selected=filterState.assignedToId === assignee.id.toString()
            )=assignee.fullName

      .form-group.mr-4
        label.mr-2(for='tags')=t('views.tasks.tags')
        select(
          id='tags'
          class='custom-select'
          name='tagId'
        )
          option
          each tag in tags
            option(
              value=tag.id
              selected=filterState.tagId === tag.id.toString()
            )=tag.name

      .form-check.mr-4
        input.form-check-input(
          type='checkbox'
          id='my-tasks'
          name='myTasks'
          checked=Boolean(filterState.myTasks)
        )
        label.form-check-label(for='my-tasks')=t('views.tasks.myTasks')

      .form-group.mr-4
        input.btn.btn-primary(type='submit' value=t('views.tasks.submit'))

  if !_.isEmpty(tasks)
    each task in tasks
      .card.card-body.bg-light.mb-4.shadow
        h4.h4.card-title
          small.text-muted.mr-3 #{t('views.tasks.id')}: #{ task.id }
          a(href= urlFor('editTask', task.id))=task.name
        if task.description
          a.mr-3(
            data-toggle='collapse'
            href='#collapseDescription' + task.id
          )  #{t('views.tasks.description')}:
          p(class='collapse' id='collapseDescription' + task.id)=task.description
        .row
          .col-4
            big.mr-3 #{t('views.tasks.creator')}:
            span.font-weight-bold=task.maker.fullName
          .col-4
            big.mr-3 #{t('views.tasks.assignedTo')}:
            span.font-weight-bold=task.assignee.fullName
          .col-4
            big.mr-3 #{t('views.tasks.status')}:
            span.font-weight-bold=task.taskStatus.name
        .row.mt-2
          .col-6
            big.mr-3 #{t('views.tasks.createdAt')}:
            span=formatDate(task.createdAt)
        .row.mt-2
          .col-6
            if task.tags.length > 0
                big.mr-3 #{t('views.tasks.tags')}:
                each tag in task.tags
                  span.badge.badge-dark.mr-2=tag.name
  else
    p #{t('views.tasks.noTasks')}.
