extends /layouts/application.pug

block content
  .jumbotron.jumbotron-flued
    h2.display-4=t('views.welcome.index.title')
    p.lead=t('views.welcome.index.lead')
    hr.my-4
    p=t('views.welcome.index.description')
    if !isSignedIn()
      p=t('views.welcome.index.isMember')
        |
        |
        a(href=urlFor('newSession'))=t('layouts.application.logIn')
      a.btn.btn-lg.btn-primary.text-white(href=urlFor('newUser'))=t('layouts.application.signUp')
