include /mixins/forms.pug

doctype html
html(lang="en")
  head
    title= Title
    script(src='/assets/main.js')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-3
      a.navbar-brand(href="/") Task Manager
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href=urlFor('users')) Users
          if isSignedIn()
            li.nav-item
              a.nav-link(href=urlFor('taskStatuses')) Statuses
            li.nav-item
              a.nav-link(href=urlFor('tags')) Tags
            li.nav-item
              a.nav-link(href=urlFor('tasks')) Tasks
        ul.navbar-nav
          if isSignedIn()
            li.nav-item.mr-2
              a.nav-link(href=urlFor('editUser', user.id))= user.firstName
            li.nav-item
              +buttonTo(urlFor('session'), 'delete')(class="btn nav-link" value="Sign Out").btn-outline-success.my-2.my-sm-0
          else
            li.nav-item
              a.nav-link.btn.btn-outline-secondary.mr-lg-2.my-sm-0(href=urlFor('newSession')) Sign In
            li.nav-item
              a.nav-link.btn.btn-outline-primary.my-sm-0(href=urlFor('newUser')) Sign Up
    - const msg = flash.get()
    if msg
      .container
        div.alert.alert-info.alert-dismissible.fade.show(role='alert')= msg
          button(type='button' class='close' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true')!= '&times;'
    block content
